.cards-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 18rem;
  margin: 20px 10px;
}

.button-count {
  display: flex;
  justify-content: space-around;
}

.form-create {
  display: grid;
}

.input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.add-product {
  margin: 30px 30px 0 30px;
  display: flex;
  flex-direction: row-reverse;
}

.header-title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.edit-delete {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-top: 10px;
  margin-right: 10px;
}

.delete-icon {
  margin-left: 5px;
}

.edit-icon {
  margin-right: 5px;
}

.card-edit {
  display: grid;
  justify-content: center;
  margin: 50px;
}

.input-edit{
  display: grid;
  margin-bottom: 20px;
}
.edit-content{
  margin-bottom: 20px;
}